header {
    background-image: url('https://picsum.photos/1200');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color :yellow;
}
